<ul class="youtube">
  <li [routerLink]="['/dashboardUser']" routerLinkActive="active"><i class="fab fa-youtube" aria-hidden="true"></i>Youtube Playlist</li>
  <li class="youtube-search">
      <app-search-input></app-search-input>
      
  </li>
  <li ngbDropdown class="d-inline-block" *ngIf="this.role === 'admin'">
      <div class="" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-users" aria-hidden="true"></i>Manager</div>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem [routerLink]="['/managerUsers']" >Manager user</button>
        <button ngbDropdownItem [routerLink]="['/managerAds']" >Manager ads</button>  
      </div>
  </li>
  <li ngbDropdown class="d-inline-block" *ngIf="this.role === 'advertiser'">
    <div class="" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-users" aria-hidden="true"></i>Manager</div>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem [routerLink]="['/managerAds']" >Manager ads</button>
    </div>
  </li>
  <li [routerLink]="['/dashboardUser']" routerLinkActive="active"><i class="fa fa-stream" aria-hidden="true"></i>Playlists</li>
  <li [routerLink]="['/history']" routerLinkActive="active"><i class="fa fa-history" aria-hidden="true"></i>History</li>
  <li [routerLink]="['/userSettings']" routerLinkActive="active"><i class="fa fa-cog" aria-hidden="true"></i>Settings</li>
  <li ngbDropdown class="d-inline-block">
      <div class="" id="dropdownBasic1" ngbDropdownToggle>{{userEmail}}    <i class="fa fa-user-circle" aria-hidden="true"></i></div>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="LogOut()">Log out</button>
      </div>
  </li>
</ul>