#ChangePasswordContent{
    display: flex;
    // gap:65px;
    gap:30px;
    background: #FFFFFF;
    border: 1px solid;
    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    // width: 95%;
    // height: 95%;
    margin: 1rem;
}

#options{
    display: flex;
    flex-direction: column;
    margin: 28px;
    margin-right: 45px;
    gap: 20px;
}

#changePassForm{
    display: flex;
    flex-direction: column;
    margin-top: 110px;
    margin-left: 45px;
}

#separationbar{
    height: 506.02px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    margin-top: 110px;
    margin-bottom: 110px;
}

.linksOptions{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.1em;
}

.linksOptions:hover{
    text-decoration: underline;
}

h3{
    font-family: Overpass;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 55px;
}

label {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.1em;

    /* black/2 5 */

    color: #444B59;
}

.settingInputs{
    display: flex;
    align-items: center;
    /* white */

    background: #FFFFFF;
    /* dark blue /1 8 */

    border: 2px solid #789ADE;
    box-sizing: border-box;
    border-radius: 80px;

    width: 447px;
    height: 52px;
    padding: 0px 32px;
}

input {
    border-style: none;
    width: 93%;
    outline: none;
}

fa-icon{
    width: 32px;
    height: 25px;
    color: #789ADE;
}

#cancelButton{
    width: 447px;
    height: 52px;
    background: #FFFFFF;
    // box-shadow: 0px 4px 12px rgba(200, 211, 249, 0.6), 4px 8px 12px rgba(78, 99, 141, 0.06);
    border-color: #789ADE;
    border-radius: 80px;
    color: #789ADE;

    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */

    letter-spacing: 0.1em;

}

#saveButton{
    width: 447px;
    height: 52px;
    background: #789ADE;
    // box-shadow: 0px 4px 12px rgba(200, 211, 249, 0.6), 4px 8px 12px rgba(78, 99, 141, 0.06);
    border-color: #789ADE;
    border-radius: 80px;
    color: #FFFFFF;

    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */

    letter-spacing: 0.1em;

}

#currentCancel{
    display: flex;
    flex-direction: column;
    gap: 57%;
    margin-top: 110px;
}

#newPassSave{
    display: flex;
    flex-direction: column;
    margin-top: 110px;
}

#newpassconfirm{
    margin-top: 10%;
}

#saveButton{
    margin-top: 47%;
}

label{
    margin-bottom: 20px;
}